$navigation-menu-height: $grid-unit-10 * 7;
$navigation-sub-menu-height: $grid-unit-10 * 5;
$navigation-sub-menu-width: $grid-unit-10 * 25;

/*
* Reset the default list styles
*/
.wp-block-navigation > ul {
	display: block;
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include break-small {
		display: flex;
		flex-wrap: wrap;
	}

	// Submenu
	ul {
		list-style: none;
		padding-left: 0;
		margin-top: 0;
		margin-left: 0;

		li {
			margin: 0;
		}
	}
}

/*
* Styles for submenu flyout
*/
.wp-block-navigation > ul {
	li {
		&:hover,
		&:focus-within {
			cursor: pointer;
		}

		// Submenu Display
		&:hover > ul,
		&:focus-within > ul,
		& ul:hover,
		& ul:focus {
			visibility: visible;
			opacity: 1;
			display: flex;
			flex-direction: column;
		}
	}

	& > li ul {
		position: absolute;
		left: 0;
		top: 100%;
		min-width: $navigation-sub-menu-width;
		max-width: $navigation-sub-menu-width;
		opacity: 0;
		transition: opacity 0.1s linear;
		visibility: hidden;
	}
}

/*
* Styles shared between editor and frontend
*/
.wp-block-navigation,
.wp-block-navigation .block-editor-block-list__layout {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-navigation {
	// set a width on the editor submenus
	.block-editor-block-list__layout .block-editor-block-list__layout {
		width: $navigation-sub-menu-width;
	}

	&,
	> .wp-block-navigation__container {
		align-items: center;
		width: 100%;

		// TODO - move this to navigation link styles if possible.
		> .wp-block-navigation-link {
			display: flex;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&.is-vertical ul {
		display: flex;
		flex-direction: column;
		li {
			text-align: left;
		}
	}

	&.is-vertical > .wp-block-navigation__container {
		align-items: flex-start;
	}
}

.wp-block-navigation {

	// Default / Light styles
	&:not(.has-text-color) .wp-block-navigation-link,
	&:not(.has-text-color).is-style-light .wp-block-navigation-link {
		//  No text color
		> .wp-block-navigation__container {
			color: $light-style-sub-menu-text-color;
		}
	}

	// Default / Light styles
	&:not(.has-background) .wp-block-navigation-link,
	&:not(.has-background).is-style-light .wp-block-navigation-link {
		// No background color
		&:not(.has-background) > .wp-block-navigation__container {
			background-color: $light-style-sub-menu-background-color;
		}
	}

	// Dark styles.
	&:not(.has-text-color).is-style-dark .wp-block-navigation-link {
		// No text color
		> .wp-block-navigation__container {
			color: $dark-style-sub-menu-text-color;
		}
	}

	&:not(.has-background).is-style-dark .wp-block-navigation-link {
		// No background color
		> .wp-block-navigation__container {
			background-color: $dark-style-sub-menu-background-color;
		}
	}
}

/*
* TODO: organize/untangle styles below this line
*/
.wp-block-navigation {
	& > ul {
		& > li {
			& > a {
				display: flex;
				align-items: center;
			}

			&:first-of-type > a {
				padding-left: 0;
			}

			&:last-of-type > a {
				padding-right: 0;
			}
		}
	}

	&.items-justified-left > ul {
		justify-content: flex-start;
	}

	&.items-justified-center > ul {
		justify-content: center;
	}

	&.items-justified-right > ul {
		justify-content: flex-end;
	}
}
